.collapse(id=name)
    .card.bg-light.mb-4.px-4.text-center
        .form-group.mt-4
            -var localFormId = `html_${name}`;
            label.font-weight-bold(for=localFormId)
                a(href='https://www.w3.org/html/', rel='noopener', target='_blank') HTML
            input.form-control(id=localFormId, type='text', value=`<link href="${file}" rel="stylesheet" integrity="${sri}" crossorigin="anonymous">`)
            span.form-text.text-muted Click to copy
        .form-group
            -var localFormId = `pug_${name}`;
            label.font-weight-bold(for=localFormId)
                a(href='https://pugjs.org/', rel='noopener', target='_blank') Pug
            input.form-control(id=localFormId, type='text', value=`link(href="${file}", rel="stylesheet", integrity="${sri}", crossorigin="anonymous")`)
            span.form-text.text-muted Click to copy
        .form-group.mb-4
            -var localFormId = `haml_${name}`;
            label.font-weight-bold(for=localFormId)
                a(href='http://haml.info/', rel='noopener', target='_blank') Haml
            input.form-control(id=localFormId, type='text', value=`%link{href: "${file}", rel: "stylesheet", integrity: "${sri}", crossorigin: "anonymous"}`)
            span.form-text.text-muted Click to copy

//- vim: ft=pug sw=4 sts=4 et:
